@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply box-border;
  }

  body {
    overflow-x: hidden;
  }

  @font-face {
    font-family: YesevaOne;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/YesevaOne-Regular.ttf);
  }

  @font-face {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/LibreBaskerville-Regular.ttf);
  }
}

.search-box {
  --box-size: 45px;

  position: absolute;
  top: -140%;
  display: block;
  width: 100%;
  max-width: var(--box-size);

  transition: 0.2s ease-in;

  @media (max-width: 1024px) {
    position: static;

    width: 75%;
    max-width: calc(var(--box-size) * 8);

    margin-inline: auto;
    margin-bottom: 20px;
    transition: none;
  }

  .search-box__input {
    display: block;
    appearance: none;
    width: 100%;

    border: none;
    outline: none;
    border-radius: var(--box-size);

    background-color: #fff;

    padding: calc(var(--box-size) / 3.666666666);
    padding-inline: 20px;
    color: #24233a;
    font-size: calc(var(--box-size) / 3.333333333);
    cursor: pointer;

    transition: 0.2s ease-in;
    color: transparent;

    @media (max-width: 1024px) {
      color: #24233a;
      transition: none;
    }

    &::placeholder {
      color: #fff;
      transition: 0.2s ease-in;

      @media (max-width: 1024px) {
        color: #24233a;
        transition: none;
      }
    }
  }

  .search-box__icon {
    position: absolute;
    right: calc(var(--box-size) / 2);
    top: 50%;
    transform: translate(50%, -50%);

    width: calc(var(--box-size) / 2.75);
    height: calc(var(--box-size) / 2.75);

    pointer-events: none;
    transition: 0.2s ease-in;

    @media (max-width: 1024px) {
      display: none;
    }

    path {
      fill: #24233a;
      transition: 0.2s ease-in;
    }
  }

  &:focus-within {
    max-width: 250px;

    @media (max-width: 1024px) {
      max-width: calc(var(--box-size) * 8);
    }

    .search-box__input {
      background-color: #fff;
      padding-inline: 20px;
      color: #24233a;
      cursor: text;

      @media (max-width: 1024px) {
        padding: calc(var(--box-size) / 3.666666666);
        padding-inline: 20px;
      }

      &::placeholder {
        color: #24233a;
      }
    }

    .search-box__icon {
      width: calc(var(--box-size) / 2.15);
      height: calc(var(--box-size) / 2.15);

      path {
        fill: #000;
      }
    }
  }
}
